:root {
  --primary-magenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);
  --dark-magenta: hsl(303, 10%, 53%);
  --light-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --left-margin: 35px;
}

body {
  font: 15px "Spartan", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "heading" "ratings" "testimonials";
  padding: 20px;
}

.main__heading_container {
  grid-area: heading;
}

.main__ratings_container {
  grid-area: ratings;
}

.main__testimonials_container {
  grid-area: testimonials;
}

.heading__title {
  color: var(--primary-magenta);
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.heading__description {
  color: var(--dark-magenta);
  text-align: center;
}

.ratings__container {
  background-color: var(--light-magenta);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border-radius: 8px;
  padding: 10px;
  max-width: 400px;
}

.ratings__stars {
  margin: 5px;
}

.ratings__text {
  color: var(--primary-magenta);
  font-weight: bold;
  margin: 5px;
}

/* Smaller screens */
@media only screen and (min-width: 700px) {
  .main_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "heading ratings" "testimonials testimonials";
  }

  .heading__title {
    font-size: 36px;
  }

  .ratings__container {
    flex-direction: row;
  }

  .ratings__first, .ratings__second, .ratings__third {
    margin-left: 0px;
  }
}

/* Bigger screens */
@media only screen and (min-width: 700px) {
  .ratings__first {
    margin-left: var(--left-margin);
  }
  
  .ratings__second {
    margin-left: calc(var(--left-margin) * 2);
  }
  
  .ratings__third { 
    margin-left: calc(var(--left-margin) * 3);
  }
}